<html>
<head>
    <title>Home Page</title>
    <meta charset="UTF-8">
</head>
<body>

<h1>Welcome to Home Page
    <% if (typeof user != "undefined") { %>
    <%= user.username %>
    <% } %>
    !</h1>
<!-- show any messages that come back with authentication -->
<% if (message.length > 0) { %>
<p style="color: red"><%= message %></p>
<% } %>
<% if(typeof user == 'undefined'){ %>
<a href="./login">Login</a>
<a href="./signup">SignUp</a>
<% } else { %>
<% if(user.is_email_verified != true){ %>
<p>Please verify your email by clicking on the verification link sent to your email</p>

<p>If email not received <a href="./resend_email_verification">Resend Verification Link</a></p>
<% } %>
<a href="./change_password">Change Password</a>
<a href="./logout">LogOut</a>
<% } %>
</body>
</html>