<html>
<head>
    <title>Login Page</title>
    <meta charset="UTF-8">
</head>
<body>
<h2>Welcome Back!</h2>

<form action="login" method="POST">
    <table>
        <tr>
            <td><label for="username">Username / Email</label></td>
            <td><input type="text" name="username" id="username"></td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td><input type="password" name="password" id="password"></td>
        </tr>
        <tr>
            <td>
                <!-- show any messages that come back with authentication -->
                <% if (message.length > 0) { %>
                <p style="color: red"><%= message %></p>
                <% } %>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit">Login</button>
            </td>
        </tr>
        <tr>
            <td>
                <p><a href="./forgot_password">Forgot Password?</a></p>

                <p><a href="./signup">Sign Up</a></p>
            </td>
        </tr>
    </table>
</form>
</body>
</html>