<html>
<head>
    <title>Message</title>
    <meta charset="UTF-8">
</head>
<body>
<h2>Message</h2>
<% if (message.length > 0) { %>
<p style="color: red"><%= message %></p>
<% } %>

<p><a href="./home">Home</a></p>
</body>
</html>